head {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color:cornflowerblue;
    /* SHUTDOWN */
    /* display: none; */
    /* SHUTDOWN */
}




.chatContainer {
    background-color: black;
    width: 80%;
    height: 75vh;
    opacity: 30%;
    position: relative;
    top: 50%;
    bottom: 50%;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.inputContainer {
    background-color: black;
    width: 80%;
    height: 100px;
    opacity: 30%;
    position: relative;
    top: 50%;
    bottom: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 25px;
    margin-top: 10px;
}

.serverContainer {
    position: relative;
    top: -98vh;
    background-color: black;
    width: 17%;
    height: 98vh;
    opacity: 30%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 25px;
    margin: 10px;
}

.cc {
    
    align-items: flex-start;
}

.ccc {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-end;
}



.chat {
    background-color: rgb(169, 252, 255);
border-radius: 10px;
transition: all 0.5s;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 50px;
    opacity: 100%;
    /* border-radius: 25px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.chat:hover {
    background-color: rgb(169, 252, 255);
border-radius: 10px;
    transition: all 0.5s;
    margin: 10px;
    padding: 10px;
    width: 93%;
    height: 75px;
    opacity: 100%;
    /* border-radius: 25px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

.Message {
    color: rgb(250, 250, 250);
    margin: 4px;
}

.input {
    border-radius: 25px;
}

.send {
    margin: 4px;
    border-radius: 10px;
    background-color: cornsilk;
    transition: all 0.3s;
}

.blur {
    /* background-color: red; */
    transition: all 0.25s;
    filter: blur(100px);
}

.noblur {
    transition: all 0.25s;
    filter: blur(0px); 
}

.signIn {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}